
#corps_cv
{
height:80%;
	display:flex;
	flex-direction:row;
}

h1
{
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	display:flex;
	flex-direction:row;
}

h2
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	margin-right:10px;
	text-decoration:underline;
	text-align:center-left;
}

h3
{
	background-color:grey;
	color:orange;
	text-align:center;
}

h4
{
	margin-top:5px;
	margin-bottom:50px;
	margin-left:10px;
	margin-right:10px;
}

header
{
	height:20%;
	display:flex;
	flex-direction:row;
}

p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	line-height:20px;
	
}

#partie_gauche
{
	width:20%;
	background-color:orange;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:orange;
	border-style:solid;
}

#partie_droite
{
	width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-style:solid;
}

#prenom
{
	color:orange;
	margin-right:2px;
}


#header_gauche
{
	width:20%;
	background-color:orange;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-bottom-color:orange;
	border-style:solid;
}

#header_droit
{
		width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
border-bottom-color:white;
	border-style:solid;
}


.config_row
{
	display:flex;
	flex-direction:row;
}

.config_column
{
	display:flex;
    flex-direction:column;
}

.date_et_lieu
{
	display:flex;
	flex-direction:column;
		margin-top:10px;
	margin-bottom:10px;
	margin-right:100px;
	margin-left:20px;
}

.decription
{
	display:flex;
	flex-direction:column;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:100px;
	margin-left:20px;

}

.contact
{
	display:flex;
	flex-direction:column;
		margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:100px;
}
.ligne
{
	display:flex;
	flex-direction:row;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	margin-right:50px;
}


@media all and (max-width: 1024px)
{
 header
 {
	width:100%;
 }
#header_droit
{
		width:80%;
	background-color:orange;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-left-color:orange;
border-bottom-color:orange;
	border-style:solid;
}


#header_gauche
{
	width:20%;
	background-color:orange;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-bottom-color:orange;
	border-right-color:orange;
	border-style:solid;
}


#prenom
{
	color:green;
	margin-right:2px;
}

	#corps_cv
	{
		display:flex;
		flex-direction:column;
	}
	
	#partie_gauche
	{
		width:100%;
	background-color:orange;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:orange;
	border-bottom-color:orange;
	border-style:solid;
	}
	
	#partie_droite
	{
		width:100%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-style:solid;
	}
	
}