@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

#corps_cv
{
height:85%;

    font-family:calibri,sans-serif;
	display:flex;
	flex-direction:row;
}

h1
{
	padding-left: 5%;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	display:flex;
	flex-direction:row;
}

h2
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	margin-right:10px;
	color:black;
	text-align:left;
}

h3
{
	background-color:grey;
	color:#FFC107;
	text-align:center;
}

h4
{	
	font-size: 150%;
	padding-left: 5%;
	
}

header
{
	height:20%;
	display:flex;
	flex-direction:row;
}


p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10%;
	margin-right:10%;
	line-height:100%;
	word-wrap: break-word;
}

i
{
	margin:auto;
	font-size:100%;
}




img
{
height:60%;
width:60%;
border-radius:55%;
margin:20px auto;

}

.date_et_lieu::before
{
		content: "\f111";
		font-family:FontAwesome;
	 color: #FFC107;
	 font-size:100%;
	 width:10%;
	 	margin-right:10px;
}


.date_et_lieu
{
	padding-bottom: 10px;
	display:flex;
	padding-right:5%;
	margin-right:10px;
	margin-bottom:10px;
	width:20%;
	list-style: none;
	margin-left: 2%;
}

.date_et_lieu2::before
{
	content:"\f192";
	font-family:FontAwesome;
	color:#FFC107;
	font-size:100%;
	width:10%;
	margin-right:10px;
}

.date_et_lieu2
{
		padding-bottom: 10px;
	display:flex;
	padding-right:5%;
	margin-right:10px;
	margin-bottom:10px;
	width:20%;
	list-style: none;
	margin-left: 2%;
	margin-right:10px;
}

.mep
{
	display:flex;
    flex-direction:column;
	padding-left:10%;
}

#loisirs
{
	height:20%;
}

#a_propos
{
	height:40%;
}

#contact
{
	height:40%;
}

#partie_gauche
{
	width:20%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
	border-style:solid;
}

#partie_droite
{
	width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-style:solid;
}

#prenom
{
	color:#FFC107;
	margin-right:5px;
}

#T1
{
	margin-top:5px;
	margin-bottom:50px;
	margin-left:5px;
	margin-right:10px;
	padding-left: 5%;
}

#header_gauche
{
	width:20%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-bottom-color:#FFC107;
	border-style:solid;
}

#header_droit
{
	width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
border-bottom-color:white;
	border-style:solid;
}


.config_row
{
	display:flex;
	flex-direction:row;
}


.config_column
{
	display:flex;
    flex-direction:column;
}

.icone
{
	color:#FFC107;
	margin-right: 5%;
}

.decription
{
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
width:60%;
}

.mep2
{
	font-size:17px;
	font-weight:bold;
}

#description_cira
{
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
width:89%;
}

#description_animation
{
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
width:80%;
}

.contact
{
	display:flex;
	flex-direction:column;
		margin-top:10px;
	margin-bottom:10px;
	margin-left:40px;
	margin-right:100px;
	width:25%;
}
.ligne
{
	display:flex;
	flex-direction:row;
	margin-left:40px;
	margin-right:40px;
}

.souligner
{
	border-bottom: solid;
	border-bottom-color: #FFC107;
}



@media all and (max-width: 600px)
{
 header
 {
	 display:flex;
	 flex-direction:column;
	width:100%;
 }
 
 img
 {
	 width:125px;
	 height:125px;
	 border-radius:55%;
	 margin:auto;
 }
 
 h1
 {
margin:auto;
	
 }
 
 i
 {
	margin:auto; 
	margin-bottom:10px;
 }
 
 .contact
 {
	margin-left:20px;
	margin-right:10px;
	width:100%;
 }

 .description
 {
	 margin:auto;
 }
 
 .date_et_lieu
 {
	 margin:auto;
	 margin-right:15%;
 }
 
  .date_et_lieu2
 {
	 margin:auto;
	 margin-right:15%;
 }
 
 #T1
 {
	 margin:auto;
 }
 
#header_droit
{
	width:100%;
	background-color:#FFC107;
	border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
border-bottom-color:#FFC107;
	border-style:solid;
}


#header_gauche
{
	width:100%;
	border-width:1px;
	border-color:grey;
	border-bottom-color:#FFC107;
	border-style:solid;
}


#prenom
{
	color:green;
	margin-right:2px;
}

	#corps_cv
	{
		display:flex;
		flex-direction:column;
	}
	
	#partie_gauche
	{
		width:100%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
	border-bottom-color:#FFC107;
	border-style:solid;
	}
	
	#partie_droite
	{
		width:100%;
	background-color:white;
	display:flex;
	flex-direction:column;
	border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-style:solid;
	}
	#description_cira
	{
		width:80%;
	}
	#description_animation
	{
		width:80%;
	}
	#loisirs
    {
	height:10%;
    }

    #a_propos
    {
	height:30%;
    }

    #contact
    {
	height:60%;
    }
}