

body /*supresion de la marge du corps */
{
margin:0;	
}

#corps_cv /*definition de la police d'ecriture utiliser */
{
height:85%;

    font-family:calibri,sans-serif;
	display:flex;
	flex-direction:row;
}

h1 /*definition de la mise en page des titre au format h1 */
{
/*	padding-left: 5%;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	*/
	display:flex;
	flex-direction:row;
	margin-left:5px;
	padding-left:5%;
}

h2 /*definition de la mise en page des titre au format h2 */
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	margin-right:10px;
	color:black;
	text-align:left;
}

h3 /*definition de la mise en page des titre au format h3 */
{
	background-color:grey;
	color:#FFC107;
	text-align:center;
}

h4 /*definition de la mise en page des titre au format h4 */
{	
	font-size: 150%;
	padding-left: 5%;
	
}

header /*definition de la mise en page du header */
{
	height:20%;
	display:flex;
	flex-direction:row;
}


p /*definition de la mise en page des paragraphes */
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10%;
	margin-right:10%;
	line-height:100%;
	word-wrap: break-word;
}

i /*mise en page des icones */
{
	margin:auto;
	font-size:100%;
}




img /*mise en page de la photo */
{
height:60%;
width:60%;
border-radius:55%;
margin:20px auto;

}

.date_et_lieu::before /*definition de la puce type1 */
{
	font-family:'Font Awesome 5 Pro';
		content: "\f111";
		font-weight: 900;
	 color: #FFC107;
	 font-size:100%;
	 width:10%;
	 	margin-right:10px;
}


.date_et_lieu /*definition de la partie date et lieu type1 */
{
	padding-bottom: 10px;
	display:flex;
	padding-right:5%;
	margin-right:10px;
	margin-bottom:10px;
	width:20%;
	list-style: none;
	margin-left: 2%;
}

.date_et_lieu2::before /*definition de la puce type2 */
{
	font-family:'Font Awesome 5 Pro';
	content:"\f192";
	color:#FFC107;
	font-size:100%;
	width:10%;
	margin-right:10px;
}

.date_et_lieu2 /*definition de la partie date et lieu type2 */
{
		padding-bottom: 10px;
	display:flex;
	padding-right:5%;
	margin-right:10px;
	margin-bottom:10px;
	width:20%;
	list-style: none;
	margin-left: 2%;
}

.mep /*definition de la mise en page type1 */
{
	display:flex;
    flex-direction:column;
	padding-left:10%;
	width:100%;
}

.header_droit h2 /*supresion des marge pour le h2 du header droit */
{
	margin:0;
}

#loisirs /*definition de la taille de la partie loisirs */
{
	height:10%;
}

#a_propos /*definition de la taille de la partie a propos */
{
	height:45%;
}

#contact /*definition de la taille de la partie contact */
{
	height:45%;
}

#partie_gauche /*definition de la mise en page de la partie gauche du cv */
{
	width:20%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
/*border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
	border-left-color:white;
	border-bottom-color:white;
	border-style:solid;
	*/
}

#partie_droite /*definition de la mise en page de la partie droite du cv */
{
	width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	/*border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-right-color:white;
	border-bottom-color:white;
	border-style:solid;
	*/
}

#prenom /*mise en page du prenom*/
{
	color:#FFC107;
	margin-right:5px;
}

#header_gauche /*definition de la mise en page de la partie gauche du header */
{
	width:20%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
	/*border-width:1px;
	border-color:grey;
	border-bottom-color:#FFC107;
	border-left-color:white;
	border-top-color:white;
	border-style:solid;
	*/
}

#header_droit /*definition de la mise en page de la partie droite du header */
{
	width:80%;
	background-color:white;
	display:flex;
	flex-direction:column;
	/*border-width:1px;
	border-color:grey;
border-bottom-color:white;
border-top-color:white;
border-right-color:white;
	border-style:solid;
	*/
}


.config_row /*configuration en ligne*/ 
{
	display:flex;
	flex-direction:row;
}


.config_column /*configuration en colone*/
{
	display:flex;
    flex-direction:column;
}

.icone /*mise en page des icones*/
{
	color:#FFC107;
	margin-right: 5%;
}

.description /*mise en page partie description*/
{
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
width:80%;
}

.mep2 /*mise en page type2*/
{
	font-size:17px;
	font-weight:bold;
	width:100%;
}

.contact /*mise en page partie contact*/
{
	display:flex;
	flex-direction:column;
		margin-top:10px;
	margin-bottom:10px;
	margin-left:40px;
	margin-right:100px;
	width:25%;
}
.ligne /*mise en page partie ligne*/
{
	display:flex;
	flex-direction:row;
	margin-left:40px;
	margin-right:40px;
}

.souligner /*mise en place du soulignement*/
{
	border-bottom: solid;
	border-bottom-color: #FFC107;
}



@media all and (max-width: 768px) /*mise en place du responsive*/
{
 header
 {
	 display:flex;
	 flex-direction:column;
	width:100%;
 }
 
 img
 {
	 width:125px;
	 height:125px;
	 border-radius:55%;
	 margin:auto;
 }
 
 h1
 {
margin:auto;
	
 }
 
 .ligne
 {
flex-direction:column;	 
 }
 
 .date_et_lieu,.date_et_lieu2
{
	padding-bottom: 10px;
	display:flex;
	padding-right:5%;
	margin-right:10px;
	margin-bottom:10px;
	width:100%;
	list-style: none;
	/*margin-left: 2%;*/
}

.description
{
	padding-left:20%;
}

.mep
{
width:100%;	
}

 i
 {
	margin:auto; 
	margin-bottom:10px;
 }
 
 .contact
 {
	margin-left:20px;
	margin-right:10px;
	width:100%;
 }

 .description
 {
	 margin:auto;
 }
 
 .date_et_lieu
 {
	 margin:auto;
	 margin-right:15%;
 }
 
  .date_et_lieu2
 {
	 margin:auto;
	 margin-right:15%;
 }
 
 #T1
 {
	 margin:auto;
 }
 
#header_droit
{
	width:100%;
	background-color:#FFC107;
	border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
border-bottom-color:#FFC107;
	border-style:solid;
}


#header_gauche
{
	width:100%;
	border-width:1px;
	border-color:grey;
	border-bottom-color:#FFC107;
	border-style:solid;
}


#prenom
{
	color:green;
	margin-right:2px;
}
#T1
{
	font-size:120%;
}
	#corps_cv
	{
		display:flex;
		flex-direction:column;
	}
	
	#partie_gauche
	{
		width:100%;
	background-color:#FFC107;
	display:flex;
	flex-direction:column;
/*border-width:1px;
	border-color:grey;
	border-top-color:#FFC107;
	border-bottom-color:#FFC107;
	border-style:solid;*/
	}
	
	#partie_droite
	{
		width:100%;
	background-color:white;
	display:flex;
	flex-direction:column;
	/*border-width:1px;
	border-color:grey;
	border-top-color:white;
	border-style:solid;*/
	}
	#description_cira
	{
		width:80%;
	}
	#description_animation
	{
		width:80%;
	}
	#loisirs
    {
	height:10%;
    }

    #a_propos
    {
	height:30%;
    }

    #contact
    {
	height:60%;
    }
}